In [ ]:
#Q1.Write a code to create a string with your name and print it?

a = input("what's your name? ")
print ("Hey, ",(a))

what's your name? Kartik
Hey,  Kartik

In [ ]:
#Q2. Write a code to find the length of the string "Hello World"?
a = "Hello world"
len(a)

11

In [ ]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming"?
k = "Python Programming"
k[0:3]

'Pyt'

In [ ]:
#Q4. Write a code to convert the string "hello" to uppercase?
j = "hello"
j.upper()

'HELLO'

In [ ]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
k = "I like apple"
k.replace("apple","orange")

'I like orange'

In [ ]:
 #Q6. Write a code to create a list with numbers 1 to 5 and print it?
 my_list = list(range(1,6))
 print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [ ]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
#12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

In [ ]:
#Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1, 2, 3, 2, 4, 2)
my_tuple.count(2)

3

In [ ]:
#Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_cat = ('dog', 'cat', 'rabbit')
my_cat.index('cat')

1

In [ ]:
#Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
f = ('apple', 'orange', 'banana')
if 'banana' in f:
  print("banana is in f")
else:
  print("no banana in f")

banana is in f

In [ ]:
#Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
add_set = {1, 2, 3, 4}
add_set.add(6)
print(add_set)

{1, 2, 3, 4, 6}

In [ ]:
#Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
#Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
t =('apple', 'banana', 'cherry')
t[0]

'apple'

In [ ]:
#Q20.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
t = (1, 2, 3, 2, 4, 2)
t.count(2)

3

In [ ]:
#Q21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_cat = ('dog', 'cat', 'rabbit')
my_cat.index('cat')

1

In [ ]:
# Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
f = ('apple', 'orange', 'banana')
if 'banana' in f:
  print("banana is in f")
else:
  print("no banana in f")

banana is in f

In [ ]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
add_set = {1, 2, 3, 4}
add_set.add(6)
print(add_set)

{1, 2, 3, 4, 6}